@use "variables" as *;

// --------------------
// Global body and text
// --------------------
body {
    font-family: var(--primary-font),
        var(--secondary-font),
        var(--backup-primary-font),
        var(--backup-secondary-font);
    background-color: var(--background-color, var(--missing-debug-var));
    color: var(--text-color, var(--missing-debug-var));
}

// Links
// a {
//     color: var(--link-color, var(--missing-debug-var));

//     &:hover {
//         color: var(--link-hover-color, var(--link-color, var(--missing-debug-var)));
//     }
// }

// Inputs
input,
textarea,
select {
    background-color: var(--input-background-color, #fff);
    border-color: var(--input-border-color, var(--missing-debug-var));
    color: var(--input-text-color, var(--missing-debug-var));

    &::placeholder {
        color: var(--input-placeholder, #aaa);
    }
}

// Import Google Fonts TODO: do we need this import? -chuck
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');