@use "variables" as *;

// --------------------
// Global body and text
// --------------------
html {
    font-family: var(--primary-font, "Nunito", system-ui, sans-serif);
}

body {
    font-family: var(--primary-font, "Nunito", system-ui, sans-serif);
    background-color: var(--background-color);
    color: var(--text-color);
}

/* --------------------
   Framework overrides
-------------------- */

.title,
.subtitle,
.content,
.navbar,
.tabs,
.button,
.label,
.help
.single-selector-container,
.single-selector-input,
.single-selector-options,
.single-selector-option {
    font-family: var(--primary-font);
}

/* --------------------
   Form controls
-------------------- */

button,
input,
select,
textarea {
    font-family: var(--primary-font);
}

// Inputs
input,
textarea,
select {
    background-color: var(--input-background-color, #fff);
    border-color: var(--input-border-color, var(--missing-debug-var));
    color: var(--input-text-color, var(--missing-debug-var));

    &::placeholder {
        color: var(--input-placeholder, #aaa);
    }
}

/* --------------------
   Quill editor
-------------------- */

.ql-container,
.ql-editor {
    font-family: var(--quill-font);
}

// Import Google Fonts TODO: do we need this import? -chuck
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');