// Rumpus SCSS Variables - modern light theme
// ================================================================
@use "sass:map";
@import "../../dist/styles/colors.scss";

// -------------------------------------------------------------
// Bulma overrides - TODO: I took these out of _components.scss, maybe look into a bit more - chuck
// -------------------------------------------------------------
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$widescreen-enabled: false;
$fullhd-enabled: false;

// -------------------------------------------------------------
// Root CSS Variables - Modern light theme
// -------------------------------------------------------------
:root {
    @each $key, $value in $colors {
        --#{$key}-color: #{$value};
    }

    --primary-font: "Nunito",
    sans-serif;
    --secondary-font: "Helvetica",
    "Arial",
    sans-serif;
}